@model Zero_Hunger.Models.Admin
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Profile</h2>

<div class="form-group">
    <label for="exampleInputEmail1">Admin ID : @Model.adminID</label><br />
    <label for="exampleInputEmail1">Name : @Model.name</label><br />

</div>