@model Zero_Hunger.Models.Employee
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2>Profile</h2>

<div class="form-group">
    <label for="exampleInputEmail1">Name : @Model.name</label><br />
    <label for="exampleInputEmail1">EmployeeID : @Model.employeeID</label><br />
    <label for="exampleInputEmail1">Phone : @Model.phone</label><br />



</div>