
@{
    ViewBag.Title = "CreateRequest";
    Layout = "~/Views/Shared/_LayoutResturant.cshtml";
}

<h2>CreateRequest</h2>
<form action="" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">FoodName</label>
        <input type="text" class="form-control" name="id" placeholder="Enter FoodName">

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">FoodRequestID</label>
        <input type="text" class="form-control" name="FoodRequestID" placeholder="Enter FoodRequestID">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Quantity</label>
        <input type="number" class="form-control" name="Quantity" placeholder="Enter Quantity">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">PostStatus</label>
        <input type="text" class="form-control" name="PostStatus" placeholder="Enter PostStatus">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Location</label>
        <input type="text" class="form-control" name="Location" placeholder="Enter Location">
    </div>
  

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
