@model Zero_Hunger.Models.Resturant
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutResturant.cshtml";
}

<h2>Profile</h2>

<div class="form-group">
    <label for="exampleInputEmail1">Name : @Model.Name</label><br />
    <label for="exampleInputEmail1">ResturantID : @Model.ResturantID</label><br />
    <label for="exampleInputEmail1">Address : @Model.Address</label><br />
    <label for="exampleInputEmail1">Phone : @Model.Phone</label><br />
 

</div>