
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">ID</label>
        <input type="text" class="form-control" name="id" placeholder="Enter ID">
       
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password"  placeholder="Enter your Password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>

